*::-webkit-scrollbar-button {display: none;}
*::-webkit-scrollbar-thumb {background: transparent;}
*::-webkit-scrollbar-track {background: transparent;}
*::-webkit-scrollbar-track-piece {background: transparent;}
*::-webkit-scrollbar-corner {background: transparent;}


:root {
    /* Border */
    --border-radius: 10px;
    --border-style: solid;
    --border-width: 2px;
    --border-color: #00FFFF;

    /* Font */
    --font-family: 'Courier New', Courier, monospace;
    --font-size: 24px;
    --font-color: #FFFFFF;
    
    /* Padding */
    --padding-left: 8px;
    --padding-bottom: 8px;
    --padding-right: 8px;
    --padding-top: 8px;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #000;
}

.widget-root {
    /* Border */
    border-color: var(--border-color);
    border-style: var(--border-style);
    border-width: var(--border-width);
    border-radius: var(--border-radius);

    /* Font */
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--font-color);

    /* Padding */
    /* padding: var(--padding-top) var(--padding-right) var(--padding-bottom) var(--padding-left); */

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: auto;
    overflow-y: auto;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
}

.widget-root::-webkit-scrollbar {
    width: 4px; /* scrollbar width */
}

.widget-root::-webkit-scrollbar-thumb {
    background: var(--font-color);
}

.widget-root::-webkit-scrollbar-track {
    background: transparent;
}

.widget-root::-webkit-scrollbar-corner {
    background: transparent;
}
